.card{
    padding: 1em;
    box-shadow: 0 0 5px #ffdfdf;
    border-radius: 5px;
    overflow: hidden;
}
.card .top{
    text-align: center;
}

.card p{
    font-weight: bold;
    color: blue;
}
.card button{
    outline: 0;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    padding: 2em 4em;
    width: 100;
    background: blue;
}

.card .dropbox{
    height: 3em;
    border: 2px dashed blue;
    border-radius: 5px;
    color: blue;
    background: #ffdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 1em;
}

.card .dropbox .visible{
    font-size: 18px;
}
.card .select {
    color: indigo;
    margin-left: 0.5px;
    cursor: pointer;
    transition: 0.4s;
}
.card .select:hover{
    opacity: 0.6;
}
.delete{
    z-index: 10;
    color: blue;
}
.card .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}
.card .container .image{
    width: 75px;
    margin-right: 5px;
    height: 75px;
    position: relative;
    margin-bottom: 8px;
}

.card .container .image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.card .container .image span{
    position: absolute;
    top: 2px;
    right: 9px;
    font-size: 20px;
    cursor: pointer;

}
.cardinput,
.card .dropbox .on-drop,
.card .dropbox .dragover .visible{
    display: none;
}
.file{
    display: none;
}
.select {
  display: inline-block;
  padding: 6px 14px;
  margin-left: 6px;         /* space after "or" */
  background-color: #b9aaaac9; /* nice green */
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  opacity: 60%;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.select:hover {
  background-color: #7ab4ee;
}

.select:active {
  transform: scale(0.97);
}